
.dark {
    color: #000;
}
.mode {
  color: #7C7C7C;
}
.button-ajouter {
    background-color: #6E6C92;
    border-color: #6E6C92;
}
.button-1 {
    background-color: #000;
    border-color: #000;
}
.collape {
    background-color: #EFF1FC;
}